* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}


/* common style */
.primary-color {
    color: #FF0000;
}

.primary-btn {
    background-color: #FF0000;
}

section {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* banner style */
#header {
    margin-top: 8px;
    width: 1320px;
    margin: 0 auto;
    height: 700px;
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 20px;
}

.banner-details {
    text-align: center;
}

.banner-details h4 {
    font-size: 30px;
    font-weight: 800;
}

.banner-details h2 {
    font-size: 80px;
    font-weight: 800;
}

/* discount style */
.dis-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dis-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.dis {
    font-size: 50px;
    font-weight: 600;
}

.dis-details {
    margin-top: 40px;
    margin-bottom: 10px;
}

.dis-category {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* midnight style */
.midnight-cover {
    background-image: url(images/Vectorrr.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff;
}

.midnight-details {
    padding-left: 70px;
}

.discount {
    font-size: 60px;
}

.mid-title {
    font-size: 50px;
    font-weight: 600;

}

.mid-des {
    color: aliceblue;
    padding: 10px 0;
}

.join-btn {
    border: none;
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    margin-top: 10px;
}

/* comming soon style */
.cooming-soon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
}

.comming-soon {
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0;

}

.comming-des {
    font-size: 16px;
    color: rgb(97, 94, 94);
}

.year-des {
    padding: 10px 0;
}

.new-year .year {
    font-size: 40px;
    font-weight: 600;
}

.group-img {
    border: 10px solid #FF0000;
    border-radius: 50%;
    padding: 10px;
    width: 70%;
}

.new-year img {
    width: 100px
}

/* holiday style */
.holiday-description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.holiday-sale {
    padding: 20px 0;
    font-size: 50px;
    font-weight: 600;
}

.holiday-text {
    font-size: 16px;
    color: rgb(97, 94, 94);
}

.holiday-dis-product {
    position: relative;
    height: 600px;
    z-index: 0;
    margin-top: 60px;
}

.red-bg {
    position: absolute;
    bottom: 0;
}

.gift-box {
    position: absolute;
    width: 40%;
    position: absolute;
    top: -270;
    left: 10;
    bottom: 0;
    z-index: 10;
}

.ladis-product {
    position: absolute;
    right: 0;
    z-index: -1;
}

.dis {
    position: absolute;
    right: 0;
    width: 200px;
    right: 321px;
    top: 56px;
}

/* location section syle */
.place-location {

    font-weight: 600;
    text-align: center;
    background-color: rgb(240, 203, 208);
    padding: 140px 0;
}

.place-location h4 {
    font-size: 30px;
    line-height: 50px;
}

/* portfolio style */

.portfolio-title {
    padding: 10px 0;
    font-size: 40px;
    font-weight: 600;
}

.portfolio-des {
    font-size: 14px;
    font-weight: normal;
    color: rgb(97, 94, 94);
}

.portfolio {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.img-contain {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background-color: black;
    cursor: pointer;
}

.img-contain:hover .overlay {
    opacity: 0.8;
}

.portfolio img {
    width: 100%;
    height: 400px;
    border: 10px;
}

/* email style */
.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 203, 208);
    padding: 50px 0;
    border-radius: 20px;
}


.subs-title {
    font-size: 40px;
    font-weight: 800;
    padding: 20px 0;
}

.subs-des {
    padding-bottom: 20px;

    font-size: 14px;
    font-weight: normal;
    color: rgb(97, 94, 94);
}

.email-subs input {
    padding: 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
}

.subs-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    margin-left: -10px;
    color: #fff;
}

/* footer design */

.footer {
    background-color: black;
    width: 100%;
    height: 400px;
    color: #fff;
    padding-top: 60px;
}

.address {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.unsub {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.unsub-btn {
    border: none;
    padding: 10px;
    font-size: 17px;
}